  @import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
}

:root{
  --Primary-1: #495E57;
  --Primary-2: #F4CE14;
  --Secondary-1: #EE9972;
  --Secondary-2: #FBDABB;
  --Highlight-1: #EDEFEE;
  --Highlight-2: #333333;
}

html, body{
  max-width: 100vw;
  overflow-x: hidden;
}

#header, #hero-section, #testimonials-section, #highlights-section,
#testimonials-section, #about-section{
  grid-template-columns: repeat(1fr, 12);
  padding-inline: 70px;
}

h1{
font-family: Markazi Text;
font-size: 44px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

p{
  font-family: Markazi Text;
  font-size: 20px;
}

/* header styles */
#header{
  display: flex;
  padding-top: 20px;
  background-color: var(--Highlight-1);
  margin: auto;
  width: 100%;
  justify-content: space-between;
  max-height: 102px;
  align-items: center;
  /* margin-block: 20px; */
  position: fixed;
  z-index: 500;
}

.logo-img{
  width: 5rem;
  height: 2rem;
  margin-inline: 30px;
}

#nav-links{
  list-style: none;
  display: flex;
  gap: 20px;
  padding-right: 150px;
}

#nav-links a{
  text-decoration: none;
  color: black;
  transition:all 0.2s ease-in-out;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Markazi Text;
  font-size: x-large;
}

#nav-links a:hover{
  color: var(--Primary-1);
}


#nav-links li a.active {
  color: var(--Primary-1);
  border-bottom: 2px solid var(--Primary-2);
}


#menu-icon{
  display: none;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-inline: 30px;
}


/* main styles */
#main{
  display: flex;
  flex-flow: column;
  height: fit-content;
}

/* hero section styles */
#hero-section{
  background-color: var(--Primary-1);
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  padding-block: 30px;
  width: 90vw;
  margin-inline: auto;
  border-radius: 5px;
}

#hero-grid-1, #hero-grid-2,#about-grid-1,#about-grid-2{
  height: 359px;
  width: 400px;
  margin: 20px;
}

#hero-grid-1{
  /* background-color: var(--Secondary-1); */
  display: flex;
  height: 280px;
  flex-direction: column;
  justify-content: space-around;
}

#hero-grid-2{
  position: relative;
  display: flex;
  max-height: 150px;
  /* background-color: black; */
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */

}

#hero-grid-2 img{
  position: absolute;
  margin-top: 200px;
  height: 328px;
  width: 277px;
  margin: auto;
  top: -15px;
  border-radius: 10px;
}

#hero-section h1{
  color: var(--Primary-2);
}

#hero-section h3, p{
  color: var(--Highlight-1);
}

.cta{
  width: 200px;
  height: 45.601px;
  border-radius: 20px;
  background-color: var(--Primary-2);
  color: var(--Highlight-2);
  font-weight: bolder;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.cta:hover{
  background-color: var(--Secondary-1);
}

/* styles for highlights section */
#highlights-section{
  margin-block: 30px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#highlights-grid-1, #highlights-grid-2{
  margin-inline: auto;
  display: flex;
  flex-flow: wrap;
}

#highlights-grid-1{
  margin-block: 30px;
  max-height: 200px;
  width: 70%;
  text-align: center;
  justify-content: space-between;
}

#highlights-grid-2{
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 30px;
  gap: 30px;
}

.card{
  width: 275px;
  height: 467px;
  border-radius: 20px 20px 0px 0px;
  background-color: var(--Highlight-1);
  overflow: hidden;
  padding-bottom: 10px;
}

.card-info{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card p{
  color:#333333;
  margin: 20px;
}

.delivery-icon{
  width: 19px;
  height: 19px;
  transform: translateX(-30px);
  transition: all 0.3s ease;
}



.menu-image{
  width: 100%;
  height: 213px;
}

.food-item{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-height: 45px;
  margin-inline: auto;
}

.food-item p{
  color: red;
  margin: 0px;
}

.menu-cta{
  font-weight: bold;
  display: flex;
  width: 90%;
  height: auto;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  cursor: pointer;
  border: none;
}

.menu-cta:hover .delivery-icon{
  transform: translateX(0px)
}

/* styles for testimonials section */
#testimonials-section{
  margin-block: 30px;
  margin-inline: auto;
  background-color: var(--Highlight-1);
  width: 100%;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-block: 30px;
  width: 90vw;
}

#testimonial-grid-1{
  width: 100%;
  top: 0;
  margin-block: 30px;
}

#testimonial-grid-2{
  margin-block: 30px;
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  /* overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth; */
}

#testimonial-grid-2 > * {
  scroll-snap-align: center;
}

.testimony-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding-block: 1rem;
  min-width: 200px;
  height: 214px;
  background-color: white;
  justify-content: space-between;
}

.testimony-profile p{
  color: var(--Highlight-2);
  text-align: center;
  max-width: 30rem;
}

.profile-pic{
  width: 61px;
  height: 61px;
  margin: auto;
  border-radius: 50%;
  background-image: url(./assets/Profile-Icon.png);
}

/* styles for the about section */
#about-section{
  width: 95%;
  min-height: 300px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

#about-grid-1{
  justify-content: space-between;
  /* background-color: var(--Primary-2); */
  width: 350px;
  height: 200px;
}

#about-grid-1 p{
  color: black;
  margin-top: 30px;
}

#about-grid-2 {
  position: relative;
  width: 350px;
  height: 200px;
  /* background-color: black; */
}

#about-grid-2 img{
  position: absolute;
  width: 200px;
  border: 1px solid black;
}

#about-image-1{
  top: 0;
  left: 0;
  z-index: -1;
}

#about-image-2{
  bottom: 0;
  right: 0;
}

/* styles for footer section */
#footer{
  display: flex;
  background-color: var(--Highlight-2);
  color: white;
  margin-top: 30px;
  width: 100vw;
  min-height: 230px;
  flex-flow: wrap;
}

#footer > *{
  padding-block: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  /* min-width: 200px; */
  margin: auto;

}

#footer > * h2{
  color: var(--Primary-2);
  font-size: large;
}

#footer > * a, li{
  text-decoration: none;
  list-style: none;
}

#footer-logo{
  background-image: url(./assets/Logo\ .svg);
  width: 30px;
  height: 55px;
  background-repeat: no-repeat;
  margin: auto;
}

/* styles for reservation page */
#res-form{
  display: flex;
  flex-direction: column;
  align-items: center;

}
fieldset{
  background-color: var(--Highlight-1);
  padding: 30px;
  border-radius: 20px;
    display: flex;
  flex-direction: column;
  align-items: center;
}
#res-form > div{
  display: flex;
  flex-flow: column;
}

#res-heading{
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

select{
  margin: 20px;
  width: 169px;
  height: 40px;
  padding: 5px 22px 5px 10px;
  color: var(--Primary-1);
  align-items: center;
  border: none;
  border-radius: 10px;
  background: #EDEFEE;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

input{
  width: 185px;
  height: 30px;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid var(--Highlight-2, #333);
  background: #EDEFEE;
}

button:disabled{
  background-color: var(--Highlight);
}

sup{
  color: red;
}

.popup {
  color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.popup-content {
  text-align: center;
}

.popup button {
  padding: 10px 20px;
  margin-top: 30px;
  background-color: var(--Secondary-1);
  color: var(--Highlight-2);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.popup button:hover {
  background-color: var(--Secondary-2);
}

@media (max-width: 778px) {
  #hero-section{
    margin-top: 2rem;
    flex-direction: column;
  }

  #hero-section p{
    margin-inline: 20px;
  }

  #hero-grid-1{
    align-items: center;
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 991px) {
  #menu-icon{
    display: block;
  }

  #header, #hero-section, #testimonials-section, #highlights-section,
  #testimonials-section, #about-section{
  padding-inline: 10px;
  }

  #hero-section{

    width: 95vw;
    border-radius: none;
  }

  #nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: var(--Highlight-1);
    width: 95%;
    text-align: center;
  }

  #nav-links.show-menu {
    display: flex;
  }

  #nav-links li {
    margin: 10px;
  }

  #highlights-section{
    margin-top: 5rem;
  }

  #highlights-grid-1{
    flex-direction: column;
    align-items: center;
  }

  #res-form>*{
    padding-inline: 60px;
  }

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}